/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

body {
    /* Location of the image */
    background-image: url(../images/1825741.jpg);

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color: #464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is 93% smaller
         * to improve page load speed on mobile internet connections */
        background-image: url(../images/1825741.jpg);
    }
}

/* Custom default button */
.btn-default {
    color: #FFF;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-default:hover,
.btn-default:focus {
    color: #0f0;
    background-color: transparent;
    border: 1px solid #137709;
    transition: all .5s linear 0s;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    //border-bottom-color : #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover-heading{
    color: #fff;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.logomain {
    border-radius: 50%;
    background-color: #FF9933;
    border: 4px solid #fff;
    box-shadow: 0 0 10px 1px #C2D3E1;
    transition: all 1s linear 0s;
    //-webkit-animation: 3s animate infinite;
    //-o-animation: 3s animate infinite;
    animation: mymove 10s linear infinite 1s;
    -webkit-animation: mymove 10s linear infinite 1s; //chrome
    margin : 10px 0 17px 0;
    z-index: 100;
}

/*chrome*/
@-webkit-keyframes mymove {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
    0% {
        background-color: #FF9933;
    }
    33% {
        background-color: #FFF;
    }
    66% {
        background-color: #138808;
    }
    99% {
        background-color: #FF9933;
    }
}

@keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    0% {
        background-color: #FF9933;
    }
    33% {
        background-color: #FFF;
    }
    66% {
        background-color: #138808;
    }
    99% {
        background-color: #FF9933;
    }
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}
